<section>
    
  
    <h1>Album Search</h1>

    <p>Search your favourite artist over Spotify. Just enter an artist name in the following search box and enjoy!</p>

    <div class="wrapper">
        <button (click)="getData()"><img src="assets/img/search.png" alt="search"></button><input type="text"/>
    </div>

    <ul class="resultados">
        <app-item-preview 
            *ngFor="let item of resultadoAlbums.albums.items" 
            [item]="item">
        </app-item-preview>       
    </ul>



</section>
