
<section class="tracks">

    <h1>Tracks</h1>
  
    <p>Search your favourite tracks over Spotify. Just enter an artist name in the following search box and enjoy!</p>
    
    <div class="wrapper">
        <app-search-bar (querySend)="subject.next($event)"></app-search-bar>
    </div> 
    <div *ngIf="resultados">
        <ul class="resultados">
         <app-item-preview 
                *ngFor="let item of resultados.tracks.items" 
                [item]="item">
            </app-item-preview>
        </ul>
    </div>
      
  </section>
  