<section >
    <p><i *ngFor="let genre of resultado.genres">
        {{genre| titlecase}}, 
    </i></p>
    <div class="wapper">
        <img class="portada" src="{{resultado.images[2].url}}">
        <h1>{{resultado.name}}</h1>
    </div>

    <p><a href="/">Home</a> / <a href="/album">Album</a> / <a href="#">{{resultado.name}}</a> </p>
    <hr>

    <ul class="resultados">
        <app-item-preview 
            *ngFor="let item of resultado.tracks.items" 
            [item]="item">
        </app-item-preview>       
    </ul>

</section>
