<section>
    
  
    <h1>Artist Search</h1>

    <p>Search your favourite artist over Spotify. Just enter an artist name in the following search box and enjoy!</p>

    <div class="wrapper">
        <button (click)="getData()"><img src="assets/img/search.png" alt="search"></button><input type="text"/>
    </div>

    <ul class="resultados">
        <li *ngFor="let resultadob of resultadoArtists.artists ">
            <a routerLink="/{{resultadob.type}}/{{resultadob.id}}">
                <article class="album-box">
                    <img src="{{resultadob.images[2].url}}">
                    <div class="info">
                            <p><strong>{{resultadob.name}}</strong></p>
                            <p><i>Tipo: {{resultadob.type | titlecase }}</i></p>
                    </div>         
                </article>              
            </a>
        </li>
    </ul>



</section>
