<header class="main-header">
  <a href="#" class="logo"><img src="assets/img/logo.svg" alt="{{title}}"></a>
  
  <ul class="mainmenu">
    <li><a href="/albums">Albums</a> </li>
    <li><a href="/artists">Artists</a></li>
    <li><a href="/tracks">Tracks</a></li>
  </ul>
  <div class="buscador">
    <app-search-bar></app-search-bar>
  </div>
</header>

<main>
 
    <router-outlet></router-outlet>
    
</main>
<footer class="main-footer">
    <a target="_blank" href="https://vickybroz.com/"><small>by VickyBroZ</small></a>
</footer>