<header class="main-header">
  <a href="#" class="logo"><img src="assets/img/logo.svg" alt="{{title}}"></a>
  
  <ul class="mainmenu">
    <li><a href="/albums">Albums</a> </li>
    <li><a href="/artists">Artists</a></li>
    <li><a href="/tracks">Tracks</a></li>
  </ul>
  <div class="buscador">
    <app-search-bar (querySend)="search($event)"></app-search-bar>
    <div class="search-res" *ngIf="resultados">

      <ul class="resultados" *ngFor="let item of resultados | keyvalue" >
        <li  *ngFor="let item of item.value.items" > 
               <a href="/{{item.type}}s/{{item.id}}">{{item.name}} - {{item.type}}</a>
           </li>
       </ul>
    </div>
  </div>
</header>

<main>
 
    <router-outlet></router-outlet>
    
</main>
<footer class="main-footer">
    <a target="_blank" href="https://vickybroz.com/"><small>by VickyBroZ</small></a>
</footer>