<li *ngIf="item?.name" class="item">
  <article class=" {{item?.type}}">

  <!-- Si es track -->
    <div *ngIf="item?.type === 'track'; else noTrack" class="icon">
        <i class="fa fa-music"></i>
        <div 
          class="fav" 
          (click)="manageFav(item?.id)"
          [ngClass] = "{selected: checkFav(item?.id)}">
            <i class="fa fa-star"></i>
        </div>      
    </div>
   
    <!-- else  -->
    <ng-template #noTrack>
       <img *ngIf="item?.images[1]?.url" src="{{item?.images[1]?.url}}" alt="{{item?.name}}"> 
    </ng-template>
  
    <h2>{{item?.name}}</h2>
    <div *ngIf="item?.type !='artist'" class="details">
    
      <span *ngFor="let artists of item?.artists; let lastItem = last;">
          {{artists.name}} <span  *ngIf="!lastItem"> / </span>
      </span>

      <!-- Si es track -->
   
    </div> 
       <p *ngIf="item?.type === 'track'" >
ajkhdsalkdh
        <iframe [src]="sanitizeUrl('https://open.spotify.com/embed/track/'+item.id)" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </p>
   
    <a  *ngIf="item?.type !='track'"  routerLink="/{{item?.type}}s/{{item?.id}}">Details</a>
  </article>
</li>